body {
  background-color: black;
  color:  white;
}
.login {
  width: 30vw;
  height: 50vh;
  background-color: rgb(68, 68, 72);
  
}

.login input , button {
  margin: 10px;
}

.app {
  display: flex;
  padding: 10px;
  gap: 30px;
}